.LangSwitcher {
    color: var(--primary-color);
    border: 1px solid var(--inverted-primary-color);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
