.app.dark {
    --bg-color: #080816;
    --inverted-bg-color: #323136;
    --primary-color: #62ffd0;
    --secondary-color: #33bb97;
    --inverted-primary-color: #e0edff;
    --inverted-secondary-color: #8bc1ff;
}
