.app.dark {
    --bg-color: #080816;
    --inverted-bg-color: #1e1d24;
    --primary-color: #ffabdc;
    --secondary-color: #ff86c9;
    --inverted-primary-color: #e0edff;
    --inverted-secondary-color: #8bc1ff;
}
