:root {
    --bg-color: #fff8f8;
    --inverted-bg-color: #ffeefc;
    --primary-color: #1c1b1d;
    --secondary-color: #000;
    --inverted-primary-color: #ffc5f1;
    --inverted-secondary-color: #c75af1;
}
